.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-200);

  button,
  input {
    box-sizing: border-box;
    flex: 1 1 147px;
    min-width: 0;

    @media screen and (min-width: 90rem) {
      flex: 1 1 calc(33.333% - 1rem);
    }
  }

  .btn-default {
    display: flex;
    gap: var(--spacing-100);
    justify-content: center;
    padding: var(--spacing-100) var(--spacing-200);
    background-color: var(--green-900);
    color: var(--grey-50);
    border-radius: var(--spacing-100);
    cursor: pointer;
  }

  .custom-tip {
    background-color: var(--grey-50);
    text-align: center;
    border: none;
    border-radius: var(--spacing-100);
    cursor: pointer;
  }

  .custom-tip::placeholder {
    color: var(--grey-550);
  }

  .custom-tip:focus {
    color: var(--green-900);
  }
}

.btn-default[aria-pressed="true"] {
  background-color: var(--green-400);
  color: var(--green-900);
  border: none;
}

.btn-default:active,
.btn-reset:active {
  background-color: var(--green-200);
  color: var(--green-900);
  border: none;
}

.btn-reset {
  width: 100%;
  padding: var(--spacing-100) var(--spacing-400);
  border-radius: var(--spacing-100);
  border: none;
  cursor: pointer;
}

.btn-reset:disabled {
  background-color: var(--green-750);
  color: var(--green-800);
}
